[build]
  command = "yarn build"
  functions = "functions/"
[build.environment]
# Cloudinary URL contains api secret, api key and cloud name
  CLOUDINARY_URL="<CLOUDINARY_URL>"
# Sendgrid email sender
  FROM_VERIFIED_SENDER="<SENDGRID VERIFIED SENDER EMAIL>"
# full path to function
  PROD_FN_PATH="https://<project name>.netlify.app/.netlify/functions/"
# Sendgrid key  
  SENDGRID_API_KEY=<API SENDGRID KEY>
# Sendgrid email recipient
  TO_RECIPIENT="<SENDGRID EMAIL RECPIENT>"
